<div class="site">
    <mat-card><h1>Umfrage</h1>
      <h2>Welches Urlaubsland bevorzugen Sie?</h2>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Spanien</mat-radio-button>
        <mat-radio-button value="2">Portugal </mat-radio-button>
        <mat-radio-button value="3">Griechenland </mat-radio-button>
        <mat-radio-button value="4">Norwegen </mat-radio-button>
      </mat-radio-group>
      <a href="/dialog-third" routerLinkActive="active">
        <button mat-raised-button color="accent">weiter</button>
      </a>
    </mat-card>
    </div>
