<div class="site">
    <mat-card>
      <h1>Umfrage</h1>
      <h2>Welche Farbe bevorzugst Du?</h2>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="user.color">
        <mat-radio-button value="1">Blau </mat-radio-button>
        <mat-radio-button value="2">Grün </mat-radio-button>
        <mat-radio-button value="3">Rot </mat-radio-button>
        <mat-radio-button value="4">Lila </mat-radio-button>
      </mat-radio-group>
          <button (click)="evaluation()" mat-raised-button color="accent">Abschicken</button>
    </mat-card>
  </div>
