<div class="site">
    <mat-card>
      <h1>Umfrage</h1>
      <h2>Welche Farbe bevorzugen Sie?</h2>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Blau </mat-radio-button>
        <mat-radio-button value="2">Grün </mat-radio-button>
        <mat-radio-button value="3">Rot </mat-radio-button>
        <mat-radio-button value="4">Lila </mat-radio-button>
      </mat-radio-group>
        <a href="" routerLinkActive="active">
          <button mat-raised-button color="accent">Abschicken</button>
        </a>
    </mat-card>
  </div>
