/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.site {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

   
.mat-card {
    width: 350px;
    height: 250px;
    h2 {
        color: darkgray;
    }

    .mat-raised-button {
        margin-left: 0px;
        margin-top: 16px;
    }

    .mat-radio-label-content {
        padding-left: 31px;
        padding-right: 5px;
    }
}

}